# Node.js ile ilgili
node_modules/
package-lock.json

# Geçici sistem dosyaları
.DS_Store
Thumbs.db

# VSCode ayarları (kişisel ayarlar GitHub'a gitmesin)
.vscode/

# Geliştirme çıktıları (varsa)
dist/
build/

# Geçici dosyalar
*.log