/* GENERAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 2rem 2rem 0;
}

h1 {
  margin-bottom: 1rem;
}

.btn {
  width: 120px;
  height: 40px;
  cursor: pointer;
}

/* OUTPUT SECTION */

ul {
  list-style: none;
}

/* BUTTONS */
.reveal-buttons {
  display: flex;
  justify-content: space-around;
}
